#map_canvas, #img_birdseye {
    width: auto;
    border: 1px solid silver;
    overflow: hidden;
}

.imagetext {
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    background: #666;
    color: #FFF;
}
